<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" type="text/css" href="src/webapp/WEB-INF/css/styles.css">
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<form th:method="POST" th:action="@{/create}" th:object="${user}">
    <label th:for="name">Введите поля:</label>
    <br/><br/>
    <input type="text" class="form-control" style="width: 35%;" th:field="*{name}" id="name" placeholder="Имя"/>
    <input type="text" class="form-control" style="width: 35%;" th:field="*{surname}" id="surname" placeholder="Фамилия"/>
    <br/>
    <input type="number" class="form-control" style="width: 35%;" th:field="*{age}" id="age" placeholder="Возраст"/>
    <input type="date" class="form-control" style="width: 35%;" th:field="*{dateofbirth}" id="dateofbirth" placeholder="Дата рождения"/>
    <br/>
    <input type="submit" class="btn btn-primary" value="Добавить пользователя"/>
</form>




</body>
</html>